body {
    background-size: cover;
}


.container {
    background: white;
    margin: 50px auto 0 auto;
    max-width: 960px;
    padding-bottom: 50px;
}


#header {
    font-size: 60px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}

#timer {
    font-size: 40px;
    text-align: center;
}


#start{
    border: 1px solid black;
    display: flex;
    font-size:50px;
    justify-content: center;
    margin:0 auto 0 auto;
    padding: 10px 0;
    width:400px;
}

#start:hover { 
    background: rgba(200, 54, 54, 0.5);
  }

#start:active {
    border: 2px solid blue;
}

#question, #results {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin: 0px auto 40px auto;
    text-align: center;
    width:900px;
}

#option1, #option2, #option3, #answer  {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    justify-content: center;
    margin: 0px auto 15px auto;
    text-align: center;
    width:700px;
}

#options:hover {
    background: rgba(200, 54, 54, 0.5);
    border: 1px solid blue;
}


